
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Vietnam - English Dictionary &amp; Translator</title>
		
   
	<link rel="stylesheet" type="text/css" href="stylesheets/stylesheets.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/windows.css" />
	<meta name="keywords" 
content="dictionary,dict,tudien,english,translate,vietnamese,dich,dichthuat,tu,dien,tracuu,vietnam,viet,nam,anh,van,ngoai,ngu,singapore,thieungu" />			
</head>

<body id = "tndict">
	
	
	
	<div id="loading-mask" style="width:100%;height:100%;background:#c3daf9;position:absolute;z-index:20000;left:0;top:0;">&#160;	
	</div>
	<div id="loading">
		
		<div class="loading-indicator">
			<img src = "javascripts/ext_2.0a/resources/images/default/grid/loading.gif" style="width:16px;height:16px;" align="absmiddle" />
			&#160;Loading...
		</div>
	</div>
	
 
	
	<script type="text/javascript" src="javascripts/jquery_1_2_1/jquery-1.2.1.js"></script>
	<script type="text/javascript" src="javascripts/vinova/vinova.pack.js"></script>
	
	<!-- External Library start -->
	<script type="text/javascript" src="javascripts/ext_2.0a/ext-base.js"></script>
	<script type="text/javascript" src="javascripts/ext_2.0a/ext-all.js"></script>
		
	<script type="text/javascript" src="javascripts/copy-script/copy-script.js"></script>
	<script type="text/javascript" src="javascripts/capture_mouse_pos/capture_mouse_pos.js"></script>
	<!-- External Library end -->
	
	<% 
	
		if false
	%>
			<!-- Thieu Ngu Javascript start -->
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Constants.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Utils.js"></script>
			
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Ext/Tn.Ext.TreeNode.js"></script>
			
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.TreeCover.Tree.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.TreeCover.DictTree.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.SearchField.js"></script>
		    <script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Layout.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.DictionaryWindow.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.Message.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.UsingTips.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.Notepad.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.Guestbook.js"></script>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/TnApplication.js"></script>	
			
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn.Application.ClickAndSee.js"></script>	
			<!-- Thieu Ngu Javascript end -->
	<%	
		else
	%>
			<script type="text/javascript" src="javascripts/thieungu_1_0_0/Tn_Min.js"></script>	
	<%
		end
	%>
	<div id="x-taskbar">
	    
	    <div id="x-launcher-wrap">
			<div id="x-launcher-inner">
				<div id="x-launcher-left">
					<div id="x-launcher-right">
						<div id="x-launcher-center">
							<div id="x-launcher">
							</div>
							<div id="x-info">
								<ext:user-name />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div id="x-desktop" style = "background: url(images/background/stage_back_ground.gif)">
		
		<div id = 'thieungu' style = "position: absolute;"></div>
		<div id = 'thieungulogo' style = "position: absolute;"></div>
		<div id = 'thieunguquote' style = "position: absolute;"></div>	
	
	</div>
	
	
	<div id="x-windows">
	    <div id="x-winlist"><div id="spacer"></div></div>
	    <div class="x-clear"></div>
	</div>
	

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-4540715-1";
urchinTracker();
</script>
	
</body>
</html>
